<html>
<head>
    <title>BackTable</title>
    <link href="./style/all.sup.css?v=20140212" rel='stylesheet' type="text/css">
    <link href="./style/app.css?v=20140212" rel='stylesheet' type="text/css">
    <link href="./bower_components/font-awesome/css/font-awesome.min.css?v=20140212" rel='stylesheet' type="text/css">

</head>
<body>
    <div class="b-controls">
        <div>
            <button class="b-button b-button_type_shadow b-button_state_success" name="add"><span class="icon ico_add"></span><span class="label" title="">Добавить</span></button>
            <button class="b-button b-button_type_shadow b-button_state_warning"><span class="icon ico_pencil"></span><span class="label">Редактирвать</span></button>
            <button class="b-button b-button_type_shadow b-button_state_danger b-button_icon_yes fa-trash-o"><span class="icon ico_trash"></span><span class="label">Удалить</span></button>
        </div>
    </div>

    <div class="b-backtable__wrapper"></div>

    <script type="text/template" id="template-header-row">
        <% if (sorting){ %>
        <th class="b-backtable__th<%= (sorting) ? ' b-backtable__th_sorting_yes" data-sorting="' + name + '"' : '"' %>>
        <%= label || name%> <span class="b-backtable__arrow"></span>
        </th>
        <% } else { %>
        <th class="b-backtable__th">
            <%= label || name%>
        </th>
        <% } %>
    </script>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/jquery-bem/jquery.bem.js"></script>
    <script src="./bower_components/underscore/underscore.js"></script>
    <script src="./bower_components/backbone/backbone.js"></script>
    <script src="./bower_components/backbone.paginator/lib/backbone.paginator.js"></script>
    <script src="./bower_components/lcheck/lcheck.js"></script>
    <script src="./backtable.js"></script>
    <script src="./backtable-paginator.js"></script>
    <script>
        $(document).ready(function () {
            var Model = Backbone.BackTableModel.extend({
                idAttribute: 'id'
            });
            var Collection = Backbone.BackTableCollection.extend({
                url: '/api.json',
                model: Model,
                mode: 'server',
                state: {
                    order: -1,
                    sortKey: 'id',
                    sortType: 'integer',
                    firstPage: 0,
                    pageSize: 14
                },
                parseState: function (response) {
                    //console.log('ParseState', response['state']);
                    return {
                        currentPage: response.state.page,
                        pageSize: response.state.per_page,
                        //totalPages: 25,
                        totalRecords: response.state.total_entries,
                        sortKey: response.state.sort_by,
                        order: response.state.order === 'asc' ? -1 : 1
                    };
                },
                parseRecords: function (response) {
                    //console.log('ParseRecords', response['result']);
                    return response['result'] || '';
                }
            });
            var Row = Backbone.BackTableRow.extend({
                options: {
                    template: _.template("<td class='b-backtable__td'><%= id%></td><td class='b-backtable__td'><%= name%></td><td class='b-backtable__td'><%= destination_addr%></td><td class='b-backtable__td'><%= body%></td>")
                }
            });
            var collection = new Collection(),
                table = new Backbone.BackTable({
                    //el: $('.b-backtable'),
                    collection: collection,
                    userSelect: true,
                    sorting: true,
                    checkbox: true,
                    heightMode: 'full',
                    height: 300,
                    row: Row,
                    //heightAdditional: 5,
                    cssClasses: {

                    },
                    columns: [
                        {
                            name: 'id',
                            label: 'ID',
                            type: 'integer',
                            sorting: true
                        },
                        {
                            name: 'name',
                            label: 'name'
                        },
                        {
                            name: 'name_base',
                            label: 'name_base',
                            sorting: true
                        },
                        {
                            name: 'description',
                            label: 'description'
                        }
                    ]
                });
            console.log('Ready', table);
            collection.on('all', function () {
                console.log(arguments);
            });
            collection.on('checked', function (count) {
                console.log('external function get checked count', count);
            });

            $('button[name="add"]').bind('click', function () {
                console.log(collection.getChecked());
            });

            //table.render().$el.appendTo($('.b-backtable__wrapper'));
            table.render().appendTo($('.b-backtable__wrapper'));
            collection.fetch({reset: true});


            var pagination = new Backbone.BackPagination({
                className: 'b-pagination',
                collection: collection
            });
            $('.b-controls').append(pagination.render().$el);
        });
    </script>
</body>

</html>