/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Button
 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}
h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p,
pre {
    margin: 1em 0;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
dl,
menu,
ol,
ul {
    margin: 1em 0;
}
dd {
    margin: 0 0 0 40px;
}
menu,
ol,
ul {
    padding: 0 0 0 40px;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
select,
button,
input {
    outline: 0px;
    font-family: 'Open Sans';
}
code {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
    background: #f5f2f0;
    padding: 1em 1.5em;
    margin-top: 0px;
    margin-bottom: 1.6em;
    line-height: 1.6em;
}
.b-demonstration {
    padding: 20px;
}
.b-demonstration_background_black {
    background: #191818;
    color: #fff;
}
.b-demonstration_background_blue {
    background: #2980b9;
    color: #fff;
}
.b-demonstration .b-demonstration__wrapper {
    margin: 5px auto;
    width: 1000px;
}
.b-demonstration .b-demonstration__wrapper .b-demonstration__table {
    width: 100%;
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Button
 */
.b-alert-panel {
    margin: 2px 0 0 0;
    padding: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    overflow: visible;
    width: 20px;
    list-style-type: none;
}
.b-alert-panel-item {
    color: #fff;
    overflow-x: visible;
    margin-bottom: 4px;
    height: 90px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 0;
    width: 20px;
    /*&_show_yes {
          left: -290px;
          width: 310px;
      }*/
}
.b-alert-panel-item:hover .b-alert-panel-item__controls {
    opacity: 1;
}
.b-alert-panel-item__controls {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: auto;
    /*&_position_left {
              left: 0;
              right: auto;
          }*/
}
.b-alert-panel-item__close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0.5;
}
.b-alert-panel-item__close:hover {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
}
.b-alert-panel-item__toggle {
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
    width: 20px;
    height: 60px;
    text-align: center;
    opacity: 0.5;
    /*span {
              position: absolute;
              top: 50%;
          }*/
}
.b-alert-panel-item__toggle:hover {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
}
.b-alert {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    width: 310px;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    background: #95a5a6;
    box-shadow: 2 2px 0px #798d8f;
    color: #ffffff;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.b-alert_hide_yes {
    width: 20px;
}
.b-alert.b-alert_state_success {
    background-color: #2ecc71;
    box-shadow: 0 2px 0px #25a25a;
    color: #ffffff;
}
.b-alert.b-alert_state_info {
    background-color: #3498db;
    box-shadow: 0 2px 0px #217dbb;
    color: #ffffff;
}
.b-alert.b-alert_state_warning {
    background-color: #fcad26;
    box-shadow: 0 2px 0px #ec9603;
    color: #ffffff;
}
.b-alert.b-alert_state_danger {
    background-color: #cb4e4e;
    box-shadow: 0 2px 0px #b23434;
    color: #ffffff;
}
.b-alert__heading {
    font-weight: 300;
    margin: 4px 0;
}
.b-alert__icon {
    float: left;
    overflow: hidden;
    height: 90px;
    width: 90px;
}
.b-alert__icon__fa {
    text-align: center;
    font-size: 57px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
}
.b-alert__icon_size_small {
    width: 45px;
}
.b-alert__icon_size_small .b-alert__icon__fa {
    width: 45px;
    font-size: 32px;
}
.b-alert__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.b-alert__body {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-width: 300px;
    width: 100%;
    height: 90px;
    display: flex;
    font-weight: 300;
}
.b-alert__body_display_block {
    display: inline-block;
}
.b-alert__body_position_relative {
    position: relative;
}
.b-alert__body_hide_yes {
    display: none;
}
.b-alert__body p {
    margin: 0 0 2px 0;
    font-size: 12px;
}
.b-alert video {
    width: 310px;
    top: -63px;
    position: absolute;
    opacity: 0.7;
}
/**
 * Button
 */
.b-button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.b-button-group .b-button,
.b-button-group .b-input {
    position: relative;
    float: left;
}
.b-button-group .b-button_position_left,
.b-button-group .b-input_position_left,
.b-button-group .b-button:first-child:not(:last-child),
.b-button-group .b-input:first-child:not(:last-child) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.b-button-group .b-button_position_right,
.b-button-group .b-input_position_right,
.b-button-group .b-button:last-child:not(:first-child),
.b-button-group .b-input:last-child:not(:first-child) {
    margin-left: -1px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.b-button-group .b-button_position_middle,
.b-button-group .b-input_position_middle,
.b-button-group .b-button:not(:first-child):not(:last-child),
.b-button-group .b-input:not(:first-child):not(:last-child) {
    margin-left: -1px;
    border-radius: 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.b-button-group_justified_yes {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.b-button-group_justified_yes .b-button {
    float: none;
    display: table-cell;
    width: 1%;
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Button
 */
.b-button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 15px;
}
.b-button_disabled_yes,
.b-button:disabled {
    cursor: not-allowed;
}
.b-button_uppercase_yes {
    text-transform: uppercase;
}
.b-button_width_100 {
    width: 100%;
}
.b-button_type_opacity {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #95a5a6;
    color: #fff;
}
.b-button_type_opacity_hover_yes,
.b-button_type_opacity:hover,
.b-button_type_opacity:focus {
    background: #7f8c8d;
}
.b-button_type_opacity_active_yes,
.b-button_type_opacity:active {
    background: #95a5a6;
    top: 3px;
}
.b-button_type_opacity_disabled_yes,
.b-button_type_opacity:disabled {
    top: 0px;
    opacity: 0.3;
}
.b-button_type_opacity.b-button_state_success {
    background: #2ecc71;
}
.b-button_type_opacity.b-button_state_success.b-button_hover_yes,
.b-button_type_opacity.b-button_state_success:hover,
.b-button_type_opacity.b-button_state_success:focus {
    background: #25a25a;
}
.b-button_type_opacity.b-button_state_success.b-button_active_yes,
.b-button_type_opacity.b-button_state_success:active {
    background: #2ecc71;
}
.b-button_type_opacity.b-button_state_info {
    background: #3498db;
}
.b-button_type_opacity.b-button_state_info.b-button_hover_yes,
.b-button_type_opacity.b-button_state_info:hover,
.b-button_type_opacity.b-button_state_info:focus {
    background: #217dbb;
}
.b-button_type_opacity.b-button_state_info.b-button_active_yes,
.b-button_type_opacity.b-button_state_info:active {
    background: #3498db;
}
.b-button_type_opacity.b-button_state_warning {
    background: #fcad26;
}
.b-button_type_opacity.b-button_state_warning.b-button_hover_yes,
.b-button_type_opacity.b-button_state_warning:hover,
.b-button_type_opacity.b-button_state_warning:focus {
    background: #ec9603;
}
.b-button_type_opacity.b-button_state_warning.b-button_active_yes,
.b-button_type_opacity.b-button_state_warning:active {
    background: #fcad26;
}
.b-button_type_opacity.b-button_state_danger {
    background: #cb4e4e;
}
.b-button_type_opacity.b-button_state_danger.b-button_hover_yes,
.b-button_type_opacity.b-button_state_danger:hover,
.b-button_type_opacity.b-button_state_danger:focus {
    background: #b23434;
}
.b-button_type_opacity.b-button_state_danger.b-button_active_yes,
.b-button_type_opacity.b-button_state_danger:active {
    background: #cb4e4e;
}
.b-button_type_shadow {
    background-color: #95a5a6;
    color: #fff;
    box-shadow: 0 3px #798d8f;
    margin-bottom: 3px;
    padding: 9px 15px 8px 15px;
}
.b-button_type_shadow_focus_yes,
.b-button_type_shadow:focus {
    top: 1px;
    box-shadow: 0 2px #798d8f;
}
.b-button_type_shadow_hover_yes,
.b-button_type_shadow:hover {
    top: 2px;
    box-shadow: 0 1px #798d8f;
}
.b-button_type_shadow_active_yes,
.b-button_type_shadow:active {
    top: 3px;
    box-shadow: none !important;
}
.b-button_type_shadow_disabled_yes,
.b-button_type_shadow:disabled {
    top: 0px;
    box-shadow: 0 3px #798d8f;
    opacity: 0.3;
}
.b-button_type_shadow.b-button_state_success {
    background-color: #2ecc71;
    box-shadow: 0 3px #25a25a;
}
.b-button_type_shadow.b-button_state_success.b-button_focus_yes,
.b-button_type_shadow.b-button_state_success:focus {
    box-shadow: 0 2px #25a25a;
}
.b-button_type_shadow.b-button_state_success.b-button_hover_yes,
.b-button_type_shadow.b-button_state_success:hover {
    box-shadow: 0 1px #25a25a;
}
.b-button_type_shadow.b-button_state_success.b-button_disabled_yes,
.b-button_type_shadow.b-button_state_success:disabled {
    box-shadow: 0 3px #25a25a;
}
.b-button_type_shadow.b-button_state_info {
    background-color: #3498db;
    box-shadow: 0 3px #217dbb;
}
.b-button_type_shadow.b-button_state_info.b-button_focus_yes,
.b-button_type_shadow.b-button_state_info:focus {
    box-shadow: 0 2px #217dbb;
}
.b-button_type_shadow.b-button_state_info.b-button_hover_yes,
.b-button_type_shadow.b-button_state_info:hover {
    box-shadow: 0 1px #217dbb;
}
.b-button_type_shadow.b-button_state_info.b-button_disabled_yes,
.b-button_type_shadow.b-button_state_info:disabled {
    box-shadow: 0 3px #217dbb;
}
.b-button_type_shadow.b-button_state_warning {
    background-color: #fcad26;
    box-shadow: 0 3px #ec9603;
}
.b-button_type_shadow.b-button_state_warning.b-button_focus_yes,
.b-button_type_shadow.b-button_state_warning:focus {
    box-shadow: 0 2px #ec9603;
}
.b-button_type_shadow.b-button_state_warning.b-button_hover_yes,
.b-button_type_shadow.b-button_state_warning:hover {
    box-shadow: 0 1px #ec9603;
}
.b-button_type_shadow.b-button_state_warning.b-button_disabled_yes,
.b-button_type_shadow.b-button_state_warning:disabled {
    box-shadow: 0 3px #ec9603;
}
.b-button_type_shadow.b-button_state_danger {
    background-color: #cb4e4e;
    box-shadow: 0 3px #b23434;
}
.b-button_type_shadow.b-button_state_danger.b-button_focus_yes,
.b-button_type_shadow.b-button_state_danger:focus {
    box-shadow: 0 2px #b23434;
}
.b-button_type_shadow.b-button_state_danger.b-button_hover_yes,
.b-button_type_shadow.b-button_state_danger:hover {
    box-shadow: 0 1px #b23434;
}
.b-button_type_shadow.b-button_state_danger.b-button_disabled_yes,
.b-button_type_shadow.b-button_state_danger:disabled {
    box-shadow: 0 3px #b23434;
}
.b-button_icon_yes {
    padding-left: 65px;
}
.b-button_icon_yes:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    left: 0;
    top: 0;
    padding: 10px 0;
    font-size: 18px;
    line-height: 19px;
    width: 50px;
}
.b-button_icon_yes.b-button_border_yes:before {
    padding: 9px 0 8px;
}
.b-button_size_small {
    padding: 5px 10px;
    /*&.b-button_border_yes {
              padding: 4px 20px 3px 20px;
              &.b-button_icon_yes {
                  padding-left: 60px;
                  &:before {
                      padding: 4px 0 3px;
                  }
              }
          }*/
}
.b-button_size_small.b-button_icon_yes {
    padding-left: 50px;
}
.b-button_size_small.b-button_icon_yes:before {
    padding: 5px 0;
    font-size: 14px;
    width: 40px;
}
.b-button_size_large {
    padding: 15px 20px;
    /*&.b-button_border_yes {
              padding: 14px 20px 13px 20px;
              &.b-button_icon_yes {
                  padding-left: 70px;
                  &:before {
                      padding: 14px 0 13px;
                  }
              }
          }*/
}
.b-button_size_large.b-button_icon_yes {
    padding-left: 70px;
}
.b-button_size_large.b-button_icon_yes:before {
    padding: 15px 0;
}
.b-button_mode_loading {
    background-image: url('http://sup-design.zaims.local/assets/imgs//loader-button-white.gif');
    cursor: wait !important;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 2px;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px;
}


/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Button
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%;
}
h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}

input[type="text"],
.b-input {
    vertical-align: middle;
    color: #555;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 8px 10px;
}
input[type="text"].b-input_size_small,
.b-input.b-input_size_small {
    padding: 5px;
}
input[type="text"].b-input_size_large,
.b-input.b-input_size_large {
    padding: 13px 10px;
}
input[type="text"].b-input_type_success,
.b-input.b-input_type_success {
    border-color: #2ecc71;
}
input[type="text"].b-input_type_error,
.b-input.b-input_type_error {
    border-color: #e74c3c;
}
input[type="text"]:focus,
.b-input:focus {
    border-color: #3498db;
}
input[type="text"]:disabled,
.b-input:disabled {
    background: #ccc;
    cursor: not-allowed;
}
input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #a9a9a9;
}
input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9;
}
input[type="text"]::-moz-placeholder,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #a9a9a9;
}
input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #a9a9a9;
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---------------------------------------------------
 - b-lcheck
 ----------------------------------------------------
 - @name SUP Design 2014
 - @author Stanislav Lomadurov
 - @email lord.rojer@gmail.com
 ---------------------------------------------------*/
.b-lcheck {
    width: 12px;
    height: 12px;
    display: inline-block;
    zoom: 1;
    border: 1px solid #C6C6C6;
    border-radius: 2px;
    outline: 0;
    background: #ffffff;
    color: #000;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    line-height: 13px;
}
.b-lcheck:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}
.b-lcheck_select_no {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.b-lcheck_focus_yes {
    border-color: #0e90d2;
}
.b-lcheck_hover_yes {
    border-color: #00A300;
}
.b-lcheck_disabled_yes {
    background-color: #ccc;
}
.b-lcheck_state_checked:before {
    content: "\f00c";
}
.b-lcheck_state_indeterminate:before {
    content: "\f068";
}


p {
    margin: 0 0 10px;
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Button
 */
.b-pagination {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: none;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.b-pagination ul {
    text-align: center;
    display: inline-block;
    *display: inline;
    margin: 5px 0;
    *zoom: 1;
}
.b-pagination ul li {
    display: inline;
}
.b-pagination ul li a,
.b-pagination ul li span {
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    text-decoration: none;
}
.b-pagination ul li a:hover {
    background-color: #f5f5f5;
}
.b-pagination ul li.active a,
.b-pagination ul li.active span {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
}
.b-pagination ul li.disabled a,
.b-pagination ul li.disabled a:hover,
.b-pagination ul li.disabled span {
    color: #999999;
    cursor: default;
}

table {
    max-width: 100%;
    width: 100%;
}
th {
    text-align: left;
}
table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
.b-table {
    width: 100%;
}
.b-table tr {
    border-bottom: 1px solid #ebebeb;
}
.b-table tr td,
.b-table tr th {
    padding: 10px 6px;
}
.b-table tr th {
    color: #ababab;
}
.b-table tr th.b-table__th_order_yes {
    color: #dd4b39;
}
.b-table tr th.b-table__th_sorting_yes {
    cursor: pointer;
}
.b-table_background_black tr {
    border-color: rgba(255, 255, 255, 0.1);
}
.b-table_background_black th {
    color: #ababab;
}
.b-table_background_black th.b-table__th_order_yes {
    color: #dd4b39;
}
.b-table_background_black.b-table_striped_yes tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, 0.1);
}
.b-table_background_blue tr {
    border-color: rgba(255, 255, 255, 0.1);
}
.b-table_background_blue th {
    color: #ababab;
}
.b-table_background_blue th.order {
    color: #dd4b39;
}
.b-table_background_blue.b-table_striped_yes tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, 0.1);
}
.b-table_striped_yes tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
