body {
  background-color: #fff !important;
  margin: 20px 80px;
}
.b-test {
  color: red;
}
.b-backtable__arrow {
  background: url("../imgs/table.list.arrow.png") -16px 0px;
  opacity: 0.3;
  float: right;
  width: 16px;
  height: 16px;
}
.b-backtable__arrow_direction_down {
  background-position: 0px 0px;
  opacity: 1;
}
.b-backtable__arrow_direction_mc {
  background-position: -16px 0px;
  opacity: 0.3;
}
.b-backtable__arrow_direction_up {
  background-position: -32px 0px;
  opacity: 1;
}
.b-backtable__col_size_min {
  width: 12%;
}
.b-backtable__col_size_checkbox {
  width: 50px;
}
.b-backtable__th {
  color: #ababab;
  background: #fff;
  padding: 5px 6px;
}
.b-backtable__th_order_yes {
  color: #dd4b39;
}
.b-backtable__tr {
  border-bottom: 1px solid #ebebeb;
}
.b-backtable__td {
  padding: 5px 6px;
  vertical-align: middle;
  cursor: pointer;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-backtable__td_select_no {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.b-backtable__td:hover {
  background: #FFFFCC;
}
.b-backtable__header-wrapper {
  position: absolute;
  margin-right: 17px;
}
.b-backtable__header_shadow_yes {
  box-shadow: 0 2px 9px -2px #cecece;
}
.b-backtable__content-wrapper {
  overflow: auto;
}
.b-backtable__content {
  margin-top: 31px;
}
.b-checkbox {
  width: 11px;
  height: 11px;
  border-radius: 1px;
  border: 1px solid #C6C6C6;
  display: inline-block;
  zoom: 1;
}
