body {
    background-color: #fff !important;
    margin: 20px 80px;
}
.b-test {
    color: red;
}

.b-backtable {
    &__arrow {
        background: url("../imgs/table.list.arrow.png") -16px 0px;
        opacity: 0.3;
        float: right;
        width: 16px;
        height: 16px;
        &_direction_down {
            background-position: 0px 0px;
            opacity: 1;
        }
        &_direction_mc {
            background-position: -16px 0px;
            opacity: 0.3;
        }
        &_direction_up {
            background-position: -32px 0px;
            opacity: 1;
        }
    }
    // ------------------------------------
    &__col_size_min {
        width: 12%;
    }
    &__col_size_checkbox {
        width: 50px;
    }
    // --------------------------------------
    &__th {
        color: #ababab;
        background: #fff;
        padding: 5px 6px;
        cursor: default;


        overflow: hidden;
        text-overflow: ellipsis;
        &_sorting_yes {
            cursor: pointer;
        }
        &_order_yes {
            color: #dd4b39;
        }
    }
    &__tr {
        border-bottom: 1px solid #ebebeb;
        outline: 0px;
        &:hover {
            color: #fff;
            background: #3498db;
        }
        &_checked_yes {
            color: #fff;
            background: #2e8ece;
        }
    }
    &__td {
        padding: 5px 6px;

        vertical-align: middle;
        cursor: pointer;
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &_select_no {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    }
    &__header-wrapper {
        position: absolute;
        margin-right: 17px;
    }

    &__header_shadow_yes {
        box-shadow: 0 2px 9px -2px #cecece;
    }
    // box-shadow: 0 2px 9px -2px #cecece;
    &__content-wrapper {
        overflow: auto;
    }
    &__header {
        table-layout: fixed;
    }
    &__content {
        table-layout: fixed;
        margin-top: 31px;
    }
}
.b-lcheck {
    width: 11px;
    height: 11px;
    border: 1px solid #C6C6C6;
    background-color: #fff;
    border-radius: 1px;
    outline: 0;
    display: inline-block;
    zoom: 1;

    &_select_no {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    &_focus_yes {
        border-color: #0e90d2;
    }
    &_hover_yes {
        border-color: #00A300;
    }
    &_disabled_yes {
        background-color: #ccc;
    }
    &_state_checked {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAtklEQVQ4y2P4//8/A7Ux1Q0cxoaCADIbCUgCMTvVXAoE5kA8CYidyXYpGrAH4iVAHIXiCwoMDQTimUBcBsRMlBrKCsTpUANzkC0j11BuIK6EGlgKsoAkQ4FgChD7AzELVI8YEDdDDawDYk6YQaQY6gg1oAqILYC4D8oHGcyLbBAphoJAKtQgGO4EYiHk2CLHUJAXm6AG9gCxNHoSIMdQEJCFGqiALaGSayjMxQwUGzq0S6nhZygA2ojsbh6J67kAAAAASUVORK5CYII=);
        background-position: -5px -6px;
    }
    &_state_indeterminate {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAQMAAACT2TfVAAAABlBMVEXd3d10dHThX6XJAAAAAXRSTlMAQObYZgAAABFJREFUCNdjYCASMP+DYCIAAFCqAgPY2xgtAAAAAElFTkSuQmCC);
        background-position: -5px -6px;
    }
}