html {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  background: #fff !important;
  overflow: auto !important;
  height: 100%;
}
body {
  background: #fff;
  font-family: 'Open Sans';
  margin: 20px 80px 0px;
}
.b-controls {
  display: flex;
}
.b-backtable {
  position: relative;
}
.b-backtable__arrow {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  float: right;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.b-backtable__arrow:before {
  content: "\f0dc";
}
.b-backtable__arrow_direction_desc {
  opacity: 1;
}
.b-backtable__arrow_direction_desc:before {
  content: "\f0dd";
}
.b-backtable__arrow_direction_asc {
  opacity: 1;
}
.b-backtable__arrow_direction_asc:before {
  content: "\f0de";
}
.b-backtable__col_size_min {
  width: 12%;
}
.b-backtable__col_size_checkbox {
  width: 50px;
}
.b-backtable__th {
  padding: 8px 6px;
  color: #ababab;
  background: #fff;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-backtable__th_sorting_yes {
  cursor: pointer;
}
.b-backtable__th_order_yes {
  color: #dd4b39;
}
.b-backtable__tr {
  border-bottom: 1px solid #ebebeb;
  outline: 0px;
}
.b-backtable__tr:hover {
  color: #fff;
  background: #3498db;
}
.b-backtable__tr_checked_yes {
  color: #fff;
  background: #2e8ece;
}
.b-backtable__td {
  padding: 10px 6px;
  vertical-align: middle;
  cursor: pointer;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-backtable__td .b-backtable__edit:hover {
  text-decoration: underline;
}
.b-backtable__td_select_no {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.b-backtable__header-wrapper {
  position: absolute;
}
.b-backtable__header_shadow_yes {
  box-shadow: 0 2px 9px -2px #cecece;
}
.b-backtable__content-wrapper {
  overflow: auto;
}
.b-backtable__header {
  table-layout: fixed;
}
.b-backtable__content {
  table-layout: fixed;
  margin-top: 31px;
}
